<footer class="footer">
 
  <nav>
      <ul>
          <li>
              <a class="active">
                  <span>Home</span>
              </a>
          </li>

          <li>
              <a>
                  <span>Search</span>
              </a>
          </li>

          <li>
              <a>
                  <span>Compare</span>
              </a>
          </li>

          <li>
              <a>
                  <span>Showroom</span>
              </a>
          </li>

          <li>
              <a>
                  <span>Profile</span>
              </a>
          </li>
           
      </ul>
  </nav>

</footer>
