page-page3 {
    .col { width: 100%; height: 100%; display: table-cell;text-align: center;vertical-align: middle; }
    .col{ padding: 10px; border: 1px solid #333333; border-left:none; border-bottom: none; }
    .row{ border: 1px solid #333333; border-top: none; border-left: none;border-bottom: none; border-right: none; }
    .col:last-child{ border: 1px solid #333333; border-bottom: none;  border-right: none;  border-left: none; }
    .row:last-child{ border: 1px solid #333333; border-top: none; border-left: none; border-right: none;  }
    .slides{ height: 100px; }
}
